* {
  box-sizing: border-box;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
body {
  background-image: url("Imagesfolder/bg4.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  opacity: .9;
  overflow-y: hidden;
}
.holder {
  margin: 50px auto;
  padding-top: 40px;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
}
.wishText {
  width: 35%;
  background: purple;
  background: rgba(8, 8, 73, 0.2);
  height: 500px;
  border-radius: 20px;
  overflow-y: hidden;
  z-index: 1;
}
.hb {
  color: gold;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
  font-style: italic;
  padding: 1.2em;
}
.text {
  font-size: 1.5rem;
  color: orchid;
  color: white;
  font-weight: 700;
  padding: 0.7em;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.name {
  font-size: 2rem;
  z-index: 0;
  font-style: italic;
  color: aliceblue;
  font-weight: bold;
  justify-self: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 5s ease-in-out infinite alternate;
  transform: rotate(45deg);
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    transform: rotate(60deg);
   
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    transform: rotate(-60deg);

    
  }
}

.image {
  margin-top: 10px;
  padding-top: 40px;
  width: 30%;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  /* background: red; */
}
.image img {
  position: absolute;
  width: 100%;
  border-radius: 50%;
  background: rgba(240, 248, 255);
  transition: all 3s ease-in-out;
  opacity: .8;
}
.fadeIn{
  opacity:1;
}


@media (max-width: 950px) {
  body {
    /* background: red; */
    background-position: center;
    background-attachment: fixed;
    overflow-y: scroll;
  }
  .holder {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    position: relative;
  }
  .wishText {
    width: 98%;
    height: 400px;
  }
  .image {
    margin-top: 10px;
    width: 70%;
    position: relative;

   
  }
  .image img {
    width: 100%;
    border-radius: 50%;
    background: rgba(255,255,255,.1);
  }
  
  .hb {
    font-size: 3rem;
    padding: .9em;
  }
  .text {
    font-size: 2rem;
    font-weight: 700;
    padding: 0.3em;
  }
  
}

/* include Animation On Scroll on your next edit. (AOS)*/
